.git
.github
.idea
.vscode
**/target
!docs-web/target
!docs-web/target/*.war
jenkins.war
jenkins.log
node_modules
import_test
teedy-importer-linux
teedy-importer-macos
teedy-importer-win.exe
docs/*
!docs/.gitkeep
*.iml
*.log
.DS_Store
